fastapi
uvicorn
transformers
torch
pdfminer.six
python-multipart
python-dotenv
google-genai
pydantic
typing-extensions

# spaCy + dependências com wheels binários
spacy[lookups]==3.7.4
blis==0.7.11

# modelo em português
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0.tar.gz#egg=pt_core_news_sm
